<!--<configuration>-->
<!--    <appender name="JSON" class="ch.qos.logback.core.FileAppender">-->
<!--        <file>logs/application.json</file>-->
<!--        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />-->
<!--    </appender>-->

<!--    <root level="info">-->
<!--        <appender-ref ref="JSON" />-->
<!--    </root>-->
<!--</configuration>-->
<configuration>
    <appender name="FILE_JSON" class="ch.qos.logback.core.FileAppender">
        <file>logs/application.json</file>
        <append>true</append>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp />
                <message />
                <loggerName />
                <threadName />
                <logLevel />
                <context />
                <arguments />
            </providers>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="FILE_JSON" />
    </root>
</configuration>